<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fabriceleyne.mbsBATTERY</key>
	<dict>
		<key>temperatureDisplay</key>
		<integer>1</integer>
	</dict>
	<key>com.fabriceleyne.mbsDisk</key>
	<dict>
		<key>showGraph</key>
		<integer>0</integer>
	</dict>
	<key>com.fabriceleyne.mbsFans</key>
	<dict>
		<key>menuBarText</key>
		<integer>1</integer>
		<key>subItemsDisplayed</key>
		<integer>5</integer>
	</dict>
	<key>com.fabriceleyne.mbsTEMP</key>
	<dict>
		<key>temperatureType</key>
		<integer>0</integer>
	</dict>
	<key>currentReleaseVersion</key>
	<integer>20230410</integer>
	<key>lastLaunchDate</key>
	<real>1786494442.2138429</real>
	<key>mbsBackgroundColor</key>
	<integer>1</integer>
	<key>mbsSlideCombinedSpacing</key>
	<integer>16</integer>
	<key>mbsWindowColorAsMenuBar</key>
	<integer>1</integer>
	<key>mbsWindowTransparency</key>
	<integer>0</integer>
	<key>moduleStatus</key>
	<dict>
		<key>com.fabriceleyne.mbsBATTERY</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>0</integer>
		</dict>
		<key>com.fabriceleyne.mbsDisk</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
