<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fabriceleyne.combinedwindow.ordering</key>
	<array>
		<string>com.fabriceleyne.mbsCPU</string>
		<string>com.fabriceleyne.mbsMEM</string>
		<string>com.fabriceleyne.mbsNET</string>
		<string>com.fabriceleyne.mbsDisk</string>
		<string>com.fabriceleyne.mbsBATTERY</string>
		<string>com.fabriceleyne.mbsBT</string>
		<string>com.fabriceleyne.mbsFans</string>
		<string>com.fabriceleyne.mbsTEMP</string>
	</array>
	<key>com.fabriceleyne.mbsBATTERY</key>
	<dict>
		<key>healthType</key>
		<integer>1</integer>
		<key>iconType</key>
		<integer>1</integer>
		<key>showDisplay</key>
		<integer>3</integer>
		<key>showGraph</key>
		<integer>0</integer>
		<key>showIcon</key>
		<integer>1</integer>
		<key>temperatureDisplay</key>
		<integer>1</integer>
	</dict>
	<key>com.fabriceleyne.mbsBT</key>
	<dict>
		<key>subItemsDisplayed</key>
		<integer>20</integer>
	</dict>
	<key>com.fabriceleyne.mbsCPU</key>
	<dict>
		<key>cpuTop5Type</key>
		<integer>0</integer>
		<key>cpucoresdisplayed</key>
		<integer>0</integer>
		<key>showDisplay</key>
		<integer>1</integer>
		<key>showGraph</key>
		<integer>0</integer>
		<key>subItemsDisplayed</key>
		<integer>7</integer>
	</dict>
	<key>com.fabriceleyne.mbsDisk</key>
	<dict>
		<key>showGraph</key>
		<integer>0</integer>
	</dict>
	<key>com.fabriceleyne.mbsFans</key>
	<dict>
		<key>menuBarText</key>
		<integer>1</integer>
		<key>selectedFansForMenuBar</key>
		<string>MAX_FANS_VALUE</string>
		<key>subItemsDisplayed</key>
		<integer>1</integer>
	</dict>
	<key>com.fabriceleyne.mbsMEM</key>
	<dict>
		<key>subItemsDisplayed</key>
		<integer>7</integer>
	</dict>
	<key>com.fabriceleyne.mbsNET</key>
	<dict>
		<key>subItemsDisplayed</key>
		<integer>9</integer>
	</dict>
	<key>com.fabriceleyne.mbsTEMP</key>
	<dict>
		<key>gaugeType</key>
		<integer>0</integer>
		<key>selectedTEMPForMenuBar</key>
		<string>MAX_CPU_TEMP_VALUE</string>
		<key>sensorOrder</key>
		<integer>0</integer>
		<key>subItemsDisplayed</key>
		<integer>1</integer>
		<key>temperatureType</key>
		<integer>0</integer>
	</dict>
	<key>mbsBackgroundColor</key>
	<integer>1</integer>
	<key>mbsSlideCombinedSpacing</key>
	<integer>0</integer>
	<key>mbsSlideOpacity</key>
	<integer>46</integer>
	<key>mbsWindowColorAsMenuBar</key>
	<integer>1</integer>
	<key>mbsWindowTransparency</key>
	<integer>1</integer>
	<key>moduleStatus</key>
	<dict>
		<key>com.fabriceleyne.mbsBATTERY</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>1</integer>
		</dict>
		<key>com.fabriceleyne.mbsBT</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>0</integer>
		</dict>
		<key>com.fabriceleyne.mbsCPU</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>1</integer>
		</dict>
		<key>com.fabriceleyne.mbsDisk</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>0</integer>
		</dict>
		<key>com.fabriceleyne.mbsFans</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>1</integer>
		</dict>
		<key>com.fabriceleyne.mbsGPU</key>
		<dict>
			<key>moduleStatus</key>
			<integer>2</integer>
			<key>showInMenuBar</key>
			<integer>0</integer>
		</dict>
		<key>com.fabriceleyne.mbsMEM</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>0</integer>
		</dict>
		<key>com.fabriceleyne.mbsNET</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>1</integer>
		</dict>
		<key>com.fabriceleyne.mbsTEMP</key>
		<dict>
			<key>moduleStatus</key>
			<integer>0</integer>
			<key>showInMenuBar</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
